<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>LoginMvc</display-name>
  <welcome-file-list>
    <welcome-file>login.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>LoginServlet</display-name>
    <servlet-name>LoginServlet</servlet-name>
    <servlet-class>com.mvc.controller.LoginServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LoginServlet</servlet-name>
    <url-pattern>/LoginServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutServlet</display-name>
    <servlet-name>LogoutServlet</servlet-name>
    <servlet-class>com.mvc.controller.LogoutServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutServlet</servlet-name>
    <url-pattern>/LogoutServlet</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeViewController</display-name>
    <servlet-name>HomeViewController</servlet-name>
    <servlet-class>com.mvc.controller.HomeViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeViewController</servlet-name>
    <url-pattern>/HomeViewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>HomeAddController</display-name>
    <servlet-name>HomeAddController</servlet-name>
    <servlet-class>com.mvc.controller.HomeAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>HomeAddController</servlet-name>
    <url-pattern>/HomeAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DistributorViewController</display-name>
    <servlet-name>DistributorViewController</servlet-name>
    <servlet-class>com.mvc.controller.DistributorViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributorViewController</servlet-name>
    <url-pattern>/DistributorViewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DistributorAddController</display-name>
    <servlet-name>DistributorAddController</servlet-name>
    <servlet-class>com.mvc.controller.DistributorAddController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DistributorAddController</servlet-name>
    <url-pattern>/DistributorAddController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SettingsViewController</display-name>
    <servlet-name>SettingsViewController</servlet-name>
    <servlet-class>com.mvc.controller.SettingsViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SettingsViewController</servlet-name>
    <url-pattern>/SettingsViewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditUserDataController</display-name>
    <servlet-name>EditUserDataController</servlet-name>
    <servlet-class>com.mvc.controller.EditUserDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditUserDataController</servlet-name>
    <url-pattern>/EditUserDataController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddFileDataController</display-name>
    <servlet-name>AddFileDataController</servlet-name>
    <servlet-class>com.mvc.controller.AddFileDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddFileDataController</servlet-name>
    <url-pattern>/AddFileDataController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>AddDataManualController</display-name>
    <servlet-name>AddDataManualController</servlet-name>
    <servlet-class>com.mvc.controller.AddDataManualController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>AddDataManualController</servlet-name>
    <url-pattern>/AddDataManualController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>WarehouseProductsViewController</display-name>
    <servlet-name>WarehouseProductsViewController</servlet-name>
    <servlet-class>com.mvc.controller.WarehouseProductsViewController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>WarehouseProductsViewController</servlet-name>
    <url-pattern>/WarehouseProductsViewController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditProductDataController</display-name>
    <servlet-name>EditProductDataController</servlet-name>
    <servlet-class>com.mvc.controller.EditProductDataController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditProductDataController</servlet-name>
    <url-pattern>/EditProductDataController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>TestController</display-name>
    <servlet-name>TestController</servlet-name>
    <servlet-class>com.mvc.controller.TestController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>TestController</servlet-name>
    <url-pattern>/TestController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetLocationController</display-name>
    <servlet-name>GetLocationController</servlet-name>
    <servlet-class>com.mvc.controller.GetLocationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetLocationController</servlet-name>
    <url-pattern>/GetLocationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MoveToShopController</display-name>
    <servlet-name>MoveToShopController</servlet-name>
    <servlet-class>com.mvc.controller.MoveToShopController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MoveToShopController</servlet-name>
    <url-pattern>/MoveToShopController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetShopLocationController</display-name>
    <servlet-name>GetShopLocationController</servlet-name>
    <servlet-class>com.mvc.controller.GetShopLocationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetShopLocationController</servlet-name>
    <url-pattern>/GetShopLocationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetShopByIdController</display-name>
    <servlet-name>GetShopByIdController</servlet-name>
    <servlet-class>com.mvc.controller.GetShopByIdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetShopByIdController</servlet-name>
    <url-pattern>/GetShopByIdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetShopByNameController</display-name>
    <servlet-name>GetShopByNameController</servlet-name>
    <servlet-class>com.mvc.controller.GetShopByNameController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetShopByNameController</servlet-name>
    <url-pattern>/GetShopByNameController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetShopByLocationController</display-name>
    <servlet-name>GetShopByLocationController</servlet-name>
    <servlet-class>com.mvc.controller.GetShopByLocationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetShopByLocationController</servlet-name>
    <url-pattern>/GetShopByLocationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>GetShopStockController</display-name>
    <servlet-name>GetShopStockController</servlet-name>
    <servlet-class>com.mvc.controller.GetShopStockController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetShopStockController</servlet-name>
    <url-pattern>/GetShopStockController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>PeekDatabaseConrtoller</display-name>
    <servlet-name>PeekDatabaseConrtoller</servlet-name>
    <servlet-class>com.mvc.controller.PeekDatabaseConrtoller</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>PeekDatabaseConrtoller</servlet-name>
    <url-pattern>/PeekDatabaseConrtoller</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>EditThresholdController</display-name>
    <servlet-name>EditThresholdController</servlet-name>
    <servlet-class>com.mvc.controller.EditThresholdController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>EditThresholdController</servlet-name>
    <url-pattern>/EditThresholdController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MailInvoiceController</display-name>
    <servlet-name>MailInvoiceController</servlet-name>
    <servlet-class>com.mvc.controller.MailInvoiceController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MailInvoiceController</servlet-name>
    <url-pattern>/MailInvoiceController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DamagedController</display-name>
    <servlet-name>DamagedController</servlet-name>
    <servlet-class>com.mvc.controller.DamagedController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DamagedController</servlet-name>
    <url-pattern>/DamagedController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ThresholdNotificationController</display-name>
    <servlet-name>ThresholdNotificationController</servlet-name>
    <servlet-class>com.mvc.controller.ThresholdNotificationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ThresholdNotificationController</servlet-name>
    <url-pattern>/ThresholdNotificationController</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ExpiryNotificationController</display-name>
    <servlet-name>ExpiryNotificationController</servlet-name>
    <servlet-class>com.mvc.controller.ExpiryNotificationController</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ExpiryNotificationController</servlet-name>
    <url-pattern>/ExpiryNotificationController</url-pattern>
  </servlet-mapping>
</web-app>